<DIV class=right_big>
<DIV class=right_small>
<DIV class=left>
<DIV class=line>
<H2>All Department </H2></DIV></DIV>
<P style="PADDING-LEFT: 10px"><IMG src="/_layouts/CAResources/themeCA/images/Department3.jpg" width="850" height="920"  useMap="#Map" border=0></P></DIV></DIV><MAP name="Map">
 
    <area shape="rect" coords="400,849,563,902" href="Department.aspx?dept=Logistics" />
 
    <AREA shape=RECT coords=400,752,587,807 href="Department.aspx?dept=Legal">
    <AREA shape=RECT coords=399,308,611,364 href="Department.aspx?dept=Corporate%20Affairs">
    <AREA shape=RECT coords=402,393,565,448 href="Department.aspx?dept=Expansion">
    <AREA shape=RECT coords=399,224,577,279 href="Department.aspx?dept=Construction">
    <AREA shape=RECT coords=402,656,565,711 href="Department.aspx?dept=IT">
    <AREA shape=RECT coords=401,563,564,618 href="Department.aspx?dept=HR">
    <AREA shape=RECT coords=401,481,564,536 href="Department.aspx?dept=Finance">
    <AREA shape=RECT coords=144,394,307,447 href="Department.aspx?dept=Marketing">
    <AREA shape=RECT coords=143,483,306,536 href="Department.aspx?dept=Planning">
    <AREA shape=RECT coords=143,565,305,619 href="Department.aspx?dept=QAD">
    <AREA shape=RECT coords=143,307,306,360 href="Department.aspx?dept=Project%20Management%20Office">
    <AREA shape=RECT coords=144,223,307,278 href="Department.aspx?dept=Buying">
    <AREA shape=RECT coords=654,122,787,199 href="Department.aspx?dept=Store%20Operations">
<AREA shape=RECT coords=397,0,560,85 href="Department.aspx?dept=MTM">

</MAP>